<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">{{ label }}</label>
            <select data-ng-hide="multiple" data-ng-disabled="displayOnly" data-ng-change="onChange()" data-ng-model="model" data-ng-options=" {{ optionsString }}" class="form-control"></select>
            <select data-ng-show="multiple" data-ng-disabled="displayOnly" multiple data-ng-change="onChange()" data-ng-model="model" data-ng-options="{{ optionsString }}" class="form-control" data-ng-attr-size="{{numVisibleInBox}}"></select>
            <span class="help-block">{{ validationMessage }}</span>
        </div>
    </div>

    <div class="col-xs-6">
        <div style="padding-top: 1.2em;"></div>
        <p class="help-block" style="height: 1em;"> {{ helpMessage }}</p>
    </div>
</div>