<div class="form-group has-feedback">
    <label class="control-label" data-ng-bind="label"> </label>
    <select data-ng-model="model"
            data-ng-options="{{ optionsString }}"
            data-ng-disabled="isLoading || isDisabled"
            data-ng-show="isLoading || (options && options.length > 0)"
            data-ng-change="onChange()"
            class="form-control"></select>
    <span data-ng-if="!isLoading && (!options || options.length === 0)"><br/>{{ emptyMessage }}</span>
    <span data-ng-if="isLoading" class="form-control-feedback"><span class="fa fa-spin fa-spinner" style="margin-right: 1.5em;"></span></span>
</div>